<settings>
    <setting id="E1.action" value="" />
    <setting id="E1.afterIdleTime" value="60" />
    <setting id="E1.data" value="" />
    <setting id="E1.folder" value="/data/Pictures/" />
    <setting id="E1.hour" value="13" />
    <setting id="E1.hours" value="0" />
    <setting id="E1.idleTime" value="60" />
    <setting id="E1.ignore_directories" value="false" />
    <setting id="E1.ignore_patterns" value="" />
    <setting id="E1.lsep" value="" />
    <setting id="E1.matchIf" value="" />
    <setting id="E1.method" value="" />
    <setting id="E1.minute" value="0" />
    <setting id="E1.minutes" value="30" />
    <setting id="E1.patterns" value="*.*" />
    <setting id="E1.recursive" value="false" />
    <setting id="E1.rejectIf" value="" />
    <setting id="E1.seconds" value="0" />
    <setting id="E1.sender" value="" />
    <setting id="E1.task" value="Task 2" />
    <setting id="E1.test" value="" />
    <setting id="E1.type" value="32235" />
    <setting id="E1.type-v" value="6" />
    <setting id="E1.userargs" value="" />
    <setting id="E1.windowIdC" value="0" />
    <setting id="E1.windowIdO" value="0" />
    <setting id="E1.ws_folder" value="" />
    <setting id="E1.ws_ignore_directories" value="false" />
    <setting id="E1.ws_ignore_patterns" value="" />
    <setting id="E1.ws_patterns" value="" />
    <setting id="E1.ws_recursive" value="false" />
    <setting id="E10.action" value="" />
    <setting id="E10.afterIdleTime" value="60" />
    <setting id="E10.data" value="" />
    <setting id="E10.folder" value="" />
    <setting id="E10.hour" value="13" />
    <setting id="E10.hours" value="0" />
    <setting id="E10.idleTime" value="60" />
    <setting id="E10.ignore_directories" value="false" />
    <setting id="E10.ignore_patterns" value="" />
    <setting id="E10.lsep" value="" />
    <setting id="E10.matchIf" value="" />
    <setting id="E10.method" value="" />
    <setting id="E10.minute" value="0" />
    <setting id="E10.minutes" value="30" />
    <setting id="E10.patterns" value="" />
    <setting id="E10.recursive" value="false" />
    <setting id="E10.rejectIf" value="" />
    <setting id="E10.seconds" value="0" />
    <setting id="E10.sender" value="" />
    <setting id="E10.task" value="Task 1" />
    <setting id="E10.test" value="" />
    <setting id="E10.type" value="32229" />
    <setting id="E10.type-v" value="32229" />
    <setting id="E10.userargs" value="" />
    <setting id="E10.windowIdC" value="0" />
    <setting id="E10.windowIdO" value="0" />
    <setting id="E10.ws_folder" value="" />
    <setting id="E10.ws_ignore_directories" value="false" />
    <setting id="E10.ws_ignore_patterns" value="" />
    <setting id="E10.ws_patterns" value="" />
    <setting id="E10.ws_recursive" value="false" />
    <setting id="E2.action" value="" />
    <setting id="E2.afterIdleTime" value="60" />
    <setting id="E2.data" value="" />
    <setting id="E2.folder" value="/data/Pictures/" />
    <setting id="E2.hour" value="13" />
    <setting id="E2.hours" value="0" />
    <setting id="E2.idleTime" value="60" />
    <setting id="E2.ignore_directories" value="false" />
    <setting id="E2.ignore_patterns" value="" />
    <setting id="E2.lsep" value="" />
    <setting id="E2.matchIf" value="NOTICE: plugin.dbmc: Number of items synchronized:" />
    <setting id="E2.method" value="" />
    <setting id="E2.minute" value="0" />
    <setting id="E2.minutes" value="30" />
    <setting id="E2.patterns" value="*.*" />
    <setting id="E2.recursive" value="false" />
    <setting id="E2.rejectIf" value="" />
    <setting id="E2.seconds" value="0" />
    <setting id="E2.sender" value="" />
    <setting id="E2.task" value="Task 1" />
    <setting id="E2.test" value="" />
    <setting id="E2.type" value="32241" />
    <setting id="E2.type-v" value="12" />
    <setting id="E2.userargs" value="" />
    <setting id="E2.windowIdC" value="0" />
    <setting id="E2.windowIdO" value="0" />
    <setting id="E2.ws_folder" value="" />
    <setting id="E2.ws_ignore_directories" value="false" />
    <setting id="E2.ws_ignore_patterns" value="" />
    <setting id="E2.ws_patterns" value="" />
    <setting id="E2.ws_recursive" value="false" />
    <setting id="E3.action" value="" />
    <setting id="E3.afterIdleTime" value="60" />
    <setting id="E3.data" value="" />
    <setting id="E3.folder" value="" />
    <setting id="E3.hour" value="13" />
    <setting id="E3.hours" value="0" />
    <setting id="E3.idleTime" value="60" />
    <setting id="E3.ignore_directories" value="false" />
    <setting id="E3.ignore_patterns" value="" />
    <setting id="E3.lsep" value="" />
    <setting id="E3.matchIf" value="" />
    <setting id="E3.method" value="" />
    <setting id="E3.minute" value="0" />
    <setting id="E3.minutes" value="30" />
    <setting id="E3.patterns" value="" />
    <setting id="E3.recursive" value="false" />
    <setting id="E3.rejectIf" value="" />
    <setting id="E3.seconds" value="0" />
    <setting id="E3.sender" value="" />
    <setting id="E3.task" value="Task 1" />
    <setting id="E3.test" value="" />
    <setting id="E3.type" value="32229" />
    <setting id="E3.type-v" value="32229" />
    <setting id="E3.userargs" value="" />
    <setting id="E3.windowIdC" value="0" />
    <setting id="E3.windowIdO" value="0" />
    <setting id="E3.ws_folder" value="" />
    <setting id="E3.ws_ignore_directories" value="false" />
    <setting id="E3.ws_ignore_patterns" value="" />
    <setting id="E3.ws_patterns" value="" />
    <setting id="E3.ws_recursive" value="false" />
    <setting id="E4.action" value="" />
    <setting id="E4.afterIdleTime" value="60" />
    <setting id="E4.data" value="" />
    <setting id="E4.folder" value="" />
    <setting id="E4.hour" value="13" />
    <setting id="E4.hours" value="0" />
    <setting id="E4.idleTime" value="60" />
    <setting id="E4.ignore_directories" value="false" />
    <setting id="E4.ignore_patterns" value="" />
    <setting id="E4.lsep" value="" />
    <setting id="E4.matchIf" value="" />
    <setting id="E4.method" value="" />
    <setting id="E4.minute" value="0" />
    <setting id="E4.minutes" value="30" />
    <setting id="E4.patterns" value="" />
    <setting id="E4.recursive" value="false" />
    <setting id="E4.rejectIf" value="" />
    <setting id="E4.seconds" value="0" />
    <setting id="E4.sender" value="" />
    <setting id="E4.task" value="Task 1" />
    <setting id="E4.test" value="" />
    <setting id="E4.type" value="32229" />
    <setting id="E4.type-v" value="32229" />
    <setting id="E4.userargs" value="" />
    <setting id="E4.windowIdC" value="0" />
    <setting id="E4.windowIdO" value="0" />
    <setting id="E4.ws_folder" value="" />
    <setting id="E4.ws_ignore_directories" value="false" />
    <setting id="E4.ws_ignore_patterns" value="" />
    <setting id="E4.ws_patterns" value="" />
    <setting id="E4.ws_recursive" value="false" />
    <setting id="E5.action" value="" />
    <setting id="E5.afterIdleTime" value="60" />
    <setting id="E5.data" value="" />
    <setting id="E5.folder" value="" />
    <setting id="E5.hour" value="13" />
    <setting id="E5.hours" value="0" />
    <setting id="E5.idleTime" value="60" />
    <setting id="E5.ignore_directories" value="false" />
    <setting id="E5.ignore_patterns" value="" />
    <setting id="E5.lsep" value="" />
    <setting id="E5.matchIf" value="" />
    <setting id="E5.method" value="" />
    <setting id="E5.minute" value="0" />
    <setting id="E5.minutes" value="30" />
    <setting id="E5.patterns" value="" />
    <setting id="E5.recursive" value="false" />
    <setting id="E5.rejectIf" value="" />
    <setting id="E5.seconds" value="0" />
    <setting id="E5.sender" value="" />
    <setting id="E5.task" value="Task 1" />
    <setting id="E5.test" value="" />
    <setting id="E5.type" value="32229" />
    <setting id="E5.type-v" value="32229" />
    <setting id="E5.userargs" value="" />
    <setting id="E5.windowIdC" value="0" />
    <setting id="E5.windowIdO" value="0" />
    <setting id="E5.ws_folder" value="" />
    <setting id="E5.ws_ignore_directories" value="false" />
    <setting id="E5.ws_ignore_patterns" value="" />
    <setting id="E5.ws_patterns" value="" />
    <setting id="E5.ws_recursive" value="false" />
    <setting id="E6.action" value="" />
    <setting id="E6.afterIdleTime" value="60" />
    <setting id="E6.data" value="" />
    <setting id="E6.folder" value="" />
    <setting id="E6.hour" value="13" />
    <setting id="E6.hours" value="0" />
    <setting id="E6.idleTime" value="60" />
    <setting id="E6.ignore_directories" value="false" />
    <setting id="E6.ignore_patterns" value="" />
    <setting id="E6.lsep" value="" />
    <setting id="E6.matchIf" value="" />
    <setting id="E6.method" value="" />
    <setting id="E6.minute" value="0" />
    <setting id="E6.minutes" value="30" />
    <setting id="E6.patterns" value="" />
    <setting id="E6.recursive" value="false" />
    <setting id="E6.rejectIf" value="" />
    <setting id="E6.seconds" value="0" />
    <setting id="E6.sender" value="" />
    <setting id="E6.task" value="Task 1" />
    <setting id="E6.test" value="" />
    <setting id="E6.type" value="32229" />
    <setting id="E6.type-v" value="32229" />
    <setting id="E6.userargs" value="" />
    <setting id="E6.windowIdC" value="0" />
    <setting id="E6.windowIdO" value="0" />
    <setting id="E6.ws_folder" value="" />
    <setting id="E6.ws_ignore_directories" value="false" />
    <setting id="E6.ws_ignore_patterns" value="" />
    <setting id="E6.ws_patterns" value="" />
    <setting id="E6.ws_recursive" value="false" />
    <setting id="E7.action" value="" />
    <setting id="E7.afterIdleTime" value="60" />
    <setting id="E7.data" value="" />
    <setting id="E7.folder" value="" />
    <setting id="E7.hour" value="13" />
    <setting id="E7.hours" value="0" />
    <setting id="E7.idleTime" value="60" />
    <setting id="E7.ignore_directories" value="false" />
    <setting id="E7.ignore_patterns" value="" />
    <setting id="E7.lsep" value="" />
    <setting id="E7.matchIf" value="" />
    <setting id="E7.method" value="" />
    <setting id="E7.minute" value="0" />
    <setting id="E7.minutes" value="30" />
    <setting id="E7.patterns" value="" />
    <setting id="E7.recursive" value="false" />
    <setting id="E7.rejectIf" value="" />
    <setting id="E7.seconds" value="0" />
    <setting id="E7.sender" value="" />
    <setting id="E7.task" value="Task 1" />
    <setting id="E7.test" value="" />
    <setting id="E7.type" value="32229" />
    <setting id="E7.type-v" value="32229" />
    <setting id="E7.userargs" value="" />
    <setting id="E7.windowIdC" value="0" />
    <setting id="E7.windowIdO" value="0" />
    <setting id="E7.ws_folder" value="" />
    <setting id="E7.ws_ignore_directories" value="false" />
    <setting id="E7.ws_ignore_patterns" value="" />
    <setting id="E7.ws_patterns" value="" />
    <setting id="E7.ws_recursive" value="false" />
    <setting id="E8.action" value="" />
    <setting id="E8.afterIdleTime" value="60" />
    <setting id="E8.data" value="" />
    <setting id="E8.folder" value="" />
    <setting id="E8.hour" value="13" />
    <setting id="E8.hours" value="0" />
    <setting id="E8.idleTime" value="60" />
    <setting id="E8.ignore_directories" value="false" />
    <setting id="E8.ignore_patterns" value="" />
    <setting id="E8.lsep" value="" />
    <setting id="E8.matchIf" value="" />
    <setting id="E8.method" value="" />
    <setting id="E8.minute" value="0" />
    <setting id="E8.minutes" value="30" />
    <setting id="E8.patterns" value="" />
    <setting id="E8.recursive" value="false" />
    <setting id="E8.rejectIf" value="" />
    <setting id="E8.seconds" value="0" />
    <setting id="E8.sender" value="" />
    <setting id="E8.task" value="Task 1" />
    <setting id="E8.test" value="" />
    <setting id="E8.type" value="32229" />
    <setting id="E8.type-v" value="32229" />
    <setting id="E8.userargs" value="" />
    <setting id="E8.windowIdC" value="0" />
    <setting id="E8.windowIdO" value="0" />
    <setting id="E8.ws_folder" value="" />
    <setting id="E8.ws_ignore_directories" value="false" />
    <setting id="E8.ws_ignore_patterns" value="" />
    <setting id="E8.ws_patterns" value="" />
    <setting id="E8.ws_recursive" value="false" />
    <setting id="E9.action" value="" />
    <setting id="E9.afterIdleTime" value="60" />
    <setting id="E9.data" value="" />
    <setting id="E9.folder" value="" />
    <setting id="E9.hour" value="13" />
    <setting id="E9.hours" value="0" />
    <setting id="E9.idleTime" value="60" />
    <setting id="E9.ignore_directories" value="false" />
    <setting id="E9.ignore_patterns" value="" />
    <setting id="E9.lsep" value="" />
    <setting id="E9.matchIf" value="" />
    <setting id="E9.method" value="" />
    <setting id="E9.minute" value="0" />
    <setting id="E9.minutes" value="30" />
    <setting id="E9.patterns" value="" />
    <setting id="E9.recursive" value="false" />
    <setting id="E9.rejectIf" value="" />
    <setting id="E9.seconds" value="0" />
    <setting id="E9.sender" value="" />
    <setting id="E9.task" value="Task 1" />
    <setting id="E9.test" value="" />
    <setting id="E9.type" value="32229" />
    <setting id="E9.type-v" value="32229" />
    <setting id="E9.userargs" value="" />
    <setting id="E9.windowIdC" value="0" />
    <setting id="E9.windowIdO" value="0" />
    <setting id="E9.ws_folder" value="" />
    <setting id="E9.ws_ignore_directories" value="false" />
    <setting id="E9.ws_ignore_patterns" value="" />
    <setting id="E9.ws_patterns" value="" />
    <setting id="E9.ws_recursive" value="false" />
    <setting id="LogFreq" value="500" />
    <setting id="LoopFreq" value="500" />
    <setting id="Notify" value="false" />
    <setting id="T1.builtin" value='RecursiveSlideShow(&quot;/data/Pictures&quot;)' />
    <setting id="T1.content-type" value="application/json" />
    <setting id="T1.div" value="" />
    <setting id="T1.http" value="" />
    <setting id="T1.import" value="false" />
    <setting id="T1.jsonnotify" value="kodi.callbacks" />
    <setting id="T1.maxrunning" value="1" />
    <setting id="T1.maxruns" value="-1" />
    <setting id="T1.pass" value="" />
    <setting id="T1.pythonfile" value="" />
    <setting id="T1.refractory" value="-1" />
    <setting id="T1.request-type" value="GET" />
    <setting id="T1.scriptfile" value="" />
    <setting id="T1.type" value="builtin" />
    <setting id="T1.use_shell" value="false" />
    <setting id="T1.user" value="" />
    <setting id="T1.waitForCompletion" value="true" />
    <setting id="T10.builtin" value="" />
    <setting id="T10.content-type" value="application/json" />
    <setting id="T10.div" value="" />
    <setting id="T10.http" value="" />
    <setting id="T10.import" value="false" />
    <setting id="T10.jsonnotify" value="kodi.callbacks" />
    <setting id="T10.maxrunning" value="-1" />
    <setting id="T10.maxruns" value="-1" />
    <setting id="T10.pass" value="" />
    <setting id="T10.pythonfile" value="" />
    <setting id="T10.refractory" value="-1" />
    <setting id="T10.request-type" value="GET" />
    <setting id="T10.scriptfile" value="" />
    <setting id="T10.type" value="none" />
    <setting id="T10.use_shell" value="false" />
    <setting id="T10.user" value="" />
    <setting id="T10.waitForCompletion" value="true" />
    <setting id="T2.builtin" value="" />
    <setting id="T2.content-type" value="application/json" />
    <setting id="T2.div" value="" />
    <setting id="T2.http" value="" />
    <setting id="T2.import" value="false" />
    <setting id="T2.jsonnotify" value="kodi.callbacks" />
    <setting id="T2.maxrunning" value="-1" />
    <setting id="T2.maxruns" value="-1" />
    <setting id="T2.pass" value="" />
    <setting id="T2.pythonfile" value="" />
    <setting id="T2.refractory" value="-1" />
    <setting id="T2.request-type" value="GET" />
    <setting id="T2.scriptfile" value="" />
    <setting id="T2.type" value="json_rpc_notify" />
    <setting id="T2.use_shell" value="false" />
    <setting id="T2.user" value="" />
    <setting id="T2.waitForCompletion" value="true" />
    <setting id="T3.builtin" value="" />
    <setting id="T3.content-type" value="application/json" />
    <setting id="T3.div" value="" />
    <setting id="T3.http" value="" />
    <setting id="T3.import" value="false" />
    <setting id="T3.jsonnotify" value="kodi.callbacks" />
    <setting id="T3.maxrunning" value="-1" />
    <setting id="T3.maxruns" value="-1" />
    <setting id="T3.pass" value="" />
    <setting id="T3.pythonfile" value="" />
    <setting id="T3.refractory" value="-1" />
    <setting id="T3.request-type" value="GET" />
    <setting id="T3.scriptfile" value="" />
    <setting id="T3.type" value="none" />
    <setting id="T3.use_shell" value="false" />
    <setting id="T3.user" value="" />
    <setting id="T3.waitForCompletion" value="true" />
    <setting id="T4.builtin" value="" />
    <setting id="T4.content-type" value="application/json" />
    <setting id="T4.div" value="" />
    <setting id="T4.http" value="" />
    <setting id="T4.import" value="false" />
    <setting id="T4.jsonnotify" value="kodi.callbacks" />
    <setting id="T4.maxrunning" value="-1" />
    <setting id="T4.maxruns" value="-1" />
    <setting id="T4.pass" value="" />
    <setting id="T4.pythonfile" value="" />
    <setting id="T4.refractory" value="-1" />
    <setting id="T4.request-type" value="GET" />
    <setting id="T4.scriptfile" value="" />
    <setting id="T4.type" value="none" />
    <setting id="T4.use_shell" value="false" />
    <setting id="T4.user" value="" />
    <setting id="T4.waitForCompletion" value="true" />
    <setting id="T5.builtin" value="" />
    <setting id="T5.content-type" value="application/json" />
    <setting id="T5.div" value="" />
    <setting id="T5.http" value="" />
    <setting id="T5.import" value="false" />
    <setting id="T5.jsonnotify" value="kodi.callbacks" />
    <setting id="T5.maxrunning" value="-1" />
    <setting id="T5.maxruns" value="-1" />
    <setting id="T5.pass" value="" />
    <setting id="T5.pythonfile" value="" />
    <setting id="T5.refractory" value="-1" />
    <setting id="T5.request-type" value="GET" />
    <setting id="T5.scriptfile" value="" />
    <setting id="T5.type" value="none" />
    <setting id="T5.use_shell" value="false" />
    <setting id="T5.user" value="" />
    <setting id="T5.waitForCompletion" value="true" />
    <setting id="T6.builtin" value="" />
    <setting id="T6.content-type" value="application/json" />
    <setting id="T6.div" value="" />
    <setting id="T6.http" value="" />
    <setting id="T6.import" value="false" />
    <setting id="T6.jsonnotify" value="kodi.callbacks" />
    <setting id="T6.maxrunning" value="-1" />
    <setting id="T6.maxruns" value="-1" />
    <setting id="T6.pass" value="" />
    <setting id="T6.pythonfile" value="" />
    <setting id="T6.refractory" value="-1" />
    <setting id="T6.request-type" value="GET" />
    <setting id="T6.scriptfile" value="" />
    <setting id="T6.type" value="none" />
    <setting id="T6.use_shell" value="false" />
    <setting id="T6.user" value="" />
    <setting id="T6.waitForCompletion" value="true" />
    <setting id="T7.builtin" value="" />
    <setting id="T7.content-type" value="application/json" />
    <setting id="T7.div" value="" />
    <setting id="T7.http" value="" />
    <setting id="T7.import" value="false" />
    <setting id="T7.jsonnotify" value="kodi.callbacks" />
    <setting id="T7.maxrunning" value="-1" />
    <setting id="T7.maxruns" value="-1" />
    <setting id="T7.pass" value="" />
    <setting id="T7.pythonfile" value="" />
    <setting id="T7.refractory" value="-1" />
    <setting id="T7.request-type" value="GET" />
    <setting id="T7.scriptfile" value="" />
    <setting id="T7.type" value="none" />
    <setting id="T7.use_shell" value="false" />
    <setting id="T7.user" value="" />
    <setting id="T7.waitForCompletion" value="true" />
    <setting id="T8.builtin" value="" />
    <setting id="T8.content-type" value="application/json" />
    <setting id="T8.div" value="" />
    <setting id="T8.http" value="" />
    <setting id="T8.import" value="false" />
    <setting id="T8.jsonnotify" value="kodi.callbacks" />
    <setting id="T8.maxrunning" value="-1" />
    <setting id="T8.maxruns" value="-1" />
    <setting id="T8.pass" value="" />
    <setting id="T8.pythonfile" value="" />
    <setting id="T8.refractory" value="-1" />
    <setting id="T8.request-type" value="GET" />
    <setting id="T8.scriptfile" value="" />
    <setting id="T8.type" value="none" />
    <setting id="T8.use_shell" value="false" />
    <setting id="T8.user" value="" />
    <setting id="T8.waitForCompletion" value="true" />
    <setting id="T9.builtin" value="" />
    <setting id="T9.content-type" value="application/json" />
    <setting id="T9.div" value="" />
    <setting id="T9.http" value="" />
    <setting id="T9.import" value="false" />
    <setting id="T9.jsonnotify" value="kodi.callbacks" />
    <setting id="T9.maxrunning" value="-1" />
    <setting id="T9.maxruns" value="-1" />
    <setting id="T9.pass" value="" />
    <setting id="T9.pythonfile" value="" />
    <setting id="T9.refractory" value="-1" />
    <setting id="T9.request-type" value="GET" />
    <setting id="T9.scriptfile" value="" />
    <setting id="T9.type" value="none" />
    <setting id="T9.use_shell" value="false" />
    <setting id="T9.user" value="" />
    <setting id="T9.waitForCompletion" value="true" />
    <setting id="TaskFreq" value="100" />
    <setting id="loglevel" value="false" />
    <setting id="logsettings" value="" />
    <setting id="regen" value="" />
    <setting id="restorebackup" value="" />
    <setting id="silent_install" value="false" />
    <setting id="test" value="" />
    <setting id="updatefromzip" value="" />
    <setting id="uploadlog" value="" />
</settings>
